:root {
    --dark: #3C403D;
    --medium: #39603D;
    --lighter: #ffffff;
    --light: #DADED4;
    --accent: #A3BCB6;
}

body {
    background-color: white;
    color: var(--dark);
    line-height: 1.3;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/background.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
    color: var(--lighter);
    border: thin;
    border-color: var(--lighter);
}

h1 {
    font-size: 300%;
    width: 100%;
    margin: 15px;
}

#intro {
    font-style: italic;
    line-height: 1.0;
    font-size: 50%;
    color: var(--accent);

}

nav {
    color: var(--accent);
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
}

li {
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
}   

a {
    text-decoration: none;
    color: var(--medium);
    background-color: var(--lighter);
    padding: 5px;
    border: medium solid var(--accent);
    border-radius: 10px;
    font-size: 75%;
}

li a:hover {
    color: var(--medium);
    background-color: var(--light);
    border: none;
    box-shadow: 0 0 15px black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
}

h2 {
    font-size: 175%;
    color: var(--accent);
    border: medium solid var(--light);
    background-color: var(--dark);
    text-align: center;
    width: 100%;
    padding: 10px 10px 0 5px;
}
p {
    width: 90;
    text-align: justify;
    padding: 10px 5px 5px 5px; 
}

p::first-line {
    text-indent: 20px;
}

div.imageblock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 5px;
    
}

footer {
    background-color: var(--dark);
    padding: 2%;
    color: var(--lighter);
    border: thin;
    border-color: var(--lighter);
}

@media screen and (max-width: 615px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    nav ul {
      flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    h1 {
       font-size: 175%;
    }

    h2 {
        font-size: 125%;
    }


    #intro {
        display: none;
    }


  }