:root {
    --dark: #3C403D;
    --medium: #39603D;
    --lighter: #ffffff;
    --light: #DADED4;
    --accent: #A3BCB6;
}

body {
    background-color: var(--lighter);
    color: var(--dark);
    line-height: 1.3;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/background.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    color: var(--lighter);
    border: medium solid var(--light);
}

h1 {
    font-size: 300%;
    width: 80%;
    margin: 10px;
}

#tagline {
    font-style: italic;
    line-height: 1.0;
    font-size: 50%;
    color: var(--accent);
}

#profile {
    width: 15%;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 20px;
    color: var(--accent);
    z-index: 1;

}

ul {
    display: flex;
    align-items: center;
    background-color: var(--lighter); 
    border-radius: 0px;
    border-color: var(--accent);
    border-width: thin;
    border-style: solid;
}

li {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
}   

a.link {
    text-decoration: none;
    color: var(--medium);
    background-color: var(--lighter);
    padding: 5px;
    border: medium solid var(--accent);
    border-radius: 10px;
    font-size: 75%;
}

li a:hover {
    color: var(--medium);
    background-color: var(--light);
    border: none;
    box-shadow: 0 0 15px black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
}

h2 {
    font-size: 175%;
    color: var(--accent);
    border: medium solid var(--light);
    background-color: var(--dark);
    text-align: center;
    width: 100%;
    padding: 10px 10px 0 5px;
}
p {
    width: 90;
    text-align: justify;
    padding: 10px 5px 5px 5px; 
}

div.imageblock {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

img.imgstandard {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 5px;    
}

div.projectcontainer {
    position: relative;
    width: 90%;
    float: center;
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
}

.projectcontainer div:first-of-type {
    width: 100%;
}

.projectcontainer div {
    position: relative;
    width: 50%;
}   

a p{
    position: absolute;
    top: 50%;
    right: 40%;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    text-decoration: none;
    z-index: - 1;
}

img.projects{
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-left: 10%;  
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    padding: 2%;
    color: var(--lighter);
    border: thin;
    border-color: var(--lighter);
}

#contact {
    background-color: inherit;
    border: none;
}

@media screen and (max-width: 420px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    nav {
        position: static;
    }

    nav ul {
      flex-direction: column;
    }

    li {
        padding: 5px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    h1 {
       font-size: 175%;
    }

    h2 {
        font-size: 125%;
    }


    #tagline {
        display: none;
    }


  }